<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JsonServiceSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- データベースパス /-->
    <add key="SqlCNNString" value="HOST=localhost;DATABASE=ETFSystem;USER ID=postgres;PASSWORD=qwer1234;PORT=5432"/>
    <!-- データベースtimeout時間 /-->
    <add key="DbTimeOut" value="2000"/>
    <!-- SQL ログパス /-->
    <add key="sqlPath" value="C:\Users\User\MasterSqlLog\log.txt"/>
    <!-- Email構成情報-->
    <add key="FromEmail" value="test@jp.yazaki.com"/>
    <add key="PassWord" value="12345"/>
    <add key="SmtpAddress" value="192.168.10.254"/>
    <add key="ToEmail" value="err@jp.yazaki.com"/>
    <add key="Port" value="25"/>
    <!-- 設備記号 /-->
    <add key="FacilitiesSymbol" value="1,2,3,Z"/>
    <!-- 参照パス必須リーダライタuid /-->
    <add key="ReadWriteUidNeedPath" value="9101,9102,9103"/>
    <!-- 参照パス非必須リーダライタuid /-->
    <add key="ReadWriteUidUnNeedPath" value="9199"/>
    <!-- リリース状態※debug時''にし、リリース時'1'にしてください /-->
    <add key="PublishStatus" value="1"/>
  </appSettings>
  <system.web>
    <!--compilation debug="true" targetFramework="4.0" />-->
    <httpHandlers/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <compilation debug="true"/>
  </system.web>
  <applicationSettings>
    <JsonServiceSample.Properties.Settings>
      <setting name="JsonServiceSample_JTestService_Service1" serializeAs="String">
        <value>http://localhost:5403/Service1.asmx</value>
      </setting>
    </JsonServiceSample.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>